:root {
    --color-primary: #3F292B;
    --color-secondary: #DBBEA1;
    --color-tertiary: #D34F73;
    --color-quaternary: #DB7F67;
    --color-quinary: #A37B73;
}

html, body {
    min-height: 100vh;
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: 'Martian Mono', monospace;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.header {
    background-color: var(--color-quaternary);
    color: var(--color-primary);
    padding: 1rem;
    text-align: center;
}

.footer {
    background-color: var(--color-quaternary);
    color: var(--color-primary);
    padding: 1rem;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-primary);
}

button {
    /* when hovering over the button, use the click icon */
    cursor: pointer;
    border: 1px solid var(--color-primary);
    line-height: 1.42857143;
    padding: 0.5rem;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 0 0 0.2rem black;
}

.display{
    display: flex;
    flex-direction: row;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.display #display-screen{
    font-family: 'Orbitron', sans-serif;
    background-color: lightgrey;
    color: black;
    padding: 1%;
    text-align: right;
    font-size: 3rem;
    width: 90%;
    border: 1px solid black;
    box-shadow: 0 0 0 0.2rem black;
}

.display .function {
    background-color: var(--color-quaternary);
    color: var(--color-primary);
    font-size: 3rem;
    width: 10%;
    border: 1px solid black;
}

/* display like grid and also width and height of the buttons to be fit the parent div */
.operations-icons {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 100%;
}

.operator {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

/* assign different colors to the numbers */
.numbers {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
